*{
    margin: 0;
    padding: 0;
}

.NavBar{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavBar img:hover{
    cursor: pointer;
}



