.DialogBox {
  background-color: #e2b27e;
  border: solid;
  /*border-image: url("/borderbox_simple.png") 25 / 10px 10px 10px 10px stretch;*/
  padding: 15px;
}

.dialogTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 15px;
  white-space: pre-wrap;
}

.dialogFooter {
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 15px;
  text-align: end;
}