.BubbleShooter{
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .SideBar{
        display: none;
    }
    .BottomBar{
        display: visible;
    }
}

@media screen and (min-width: 600px) {
    .BottomBar{
        display: none;
    }
    .SideBar{
        display: visible;
    }
}

